.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .4px .4px;
}
.close,.minize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: fb3d63;
}
.minize:hover{
    -fx-background-color: #ddd;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right,#2d658c,#2ca772);
}
.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}
.logout{
    -fx-background-color: #2c84bf;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
logout:hover{
    -fx-background-color: #1593e7;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),6,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.card{
    -fx-background-color: linear-gradient(to right,#344260,#3c6382);
    -fx-background-radius: 4px;
}

.search{
    -fx-background-color: #tranparent;
    -fx-border-color: linear-gradient(to bottom right,#2d658c,#2ca772);
    -fx-border-width: .8px;
    -fx-border-radius: 10px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-padding: 0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width: 1.8px;
}
.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right,#2d658c,#2ca772);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right,#2d658c,#2ca772);
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}
.
